.option-wrapper {
  display: flex;
  margin-bottom: 20px;

  align-items: center;
  gap: 5px;
}

.option-title {
  width: 150px;
}

.slider-value {
  margin-left: 7px;
  width: 30px;
}

.bool-button-wrapper {
  margin-left: 5px;
}
